* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: purple;
}

a:visited {
    color: rebeccapurple;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    align-items: center;
    margin-top: 20px;
}

img.dog-image {
    margin: 20px;
    max-width: 750px;
}

.recommendation {
    flex-wrap: wrap;
    max-width: 80%;
    justify-content: center;
}

.dog-badge {
    align-items: center;
    padding: 40px 30px 30px;
    border: 1px solid #ccc;
}

.thumbnail {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.breed-label {
    margin-top: 10px;
}
